<!DOCTYPE html>
<html>
<head>
    <!-- Set the base href -->
    <script>document.write('<base href="' + document.location + '" />');</script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Matrix Content</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#headernav">
                &#9776;
            </button>
            <div id="headernav" class="collapse navbar-toggleable-xs">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">MvcAngularDemo</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a asp-route="blogHome" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
                </ul>

                @if(User.IsSignedIn())
                {
                    <form asp-route="logoff" method="post" id="logoutForm" class="form-inline pull-xs-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a asp-route="manage" title="Manage" class="nav-link">Hello @User.GetUserName()!</a>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="btn btn-link navbar-btn nav-link">Log off</button>
                            </li>
                            
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="nav navbar-nav pull-xs-right">
                        <li class="nav-item"><a asp-route="register" class="nav-link">Register</a></li>
                        <li class="nav-item"><a asp-route="login" class="nav-link">Log in</a></li>
                    </ul>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - MatrixContent</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!--Support IE-->
    <script src="~/lib/es6-shim/es6-shim.js"></script>
    <script src="~/lib/systemjs/dist/system-polyfills.js"></script>
    <!--Angular2-->
    <script src="~/lib/angular2/bundles/angular2-polyfills.js"></script>
    <script src="~/lib/systemjs/dist/system.js"></script>
    <script src="~/lib/typescript/lib/typescript.js"></script>
    <script src="~/lib/rxjs/bundles/Rx.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
    <script src="~/lib/angular2/bundles/http.js"></script>
    <script src="~/lib/angular2/bundles/router.dev.js"></script>
 
    @RenderSection("scripts",required: false)
</body>
</html>
